flask
streamlit
flask-socketio
eventlet
pillow
python-engineio
python-socketio
bidict
blinker
certifi
charset-normalizer
click
greenlet
h11
idna
itsdangerous
jinja2
markupsafe
requests
urllib3
werkzeug
wsproto
